/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
storage/framework/cache/data/c0/71/c071422490d526a8aada046adf3a9c9fa0593468
storage/framework/cache/data/ec/c4/ecc49f49f4da6b940dcde13f0571e79c299871e6
storage/framework/cache/data/ec/c4/ecc49f49f4da6b940dcde13f0571e79c299871e6
